<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>SSG 사과 농장</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <h1>SSG 사과 농장에 오신 것을 환영합니다!</h1>
    <h3>세종대 최고 유행 상품인 SSG FLAG를 구매하여 재력을 과시하세요!</h3>
    <p>잔액: <strong>{{ balance }}원</strong></p>
    <p>사과 개수: <strong>{{ apples }}</strong></p>
    <nav>
        <ul>
            <li><a href="{{ url_for('buy') }}">사과 구매</a></li>
            <li><a href="{{ url_for('sell') }}">사과 판매</a></li>
            <li><a href="{{ url_for('shop') }}">FLAG 상점</a></li>
        </ul>
    </nav>
    <br>
    <br>
    <br>
    <button id="hintButton" onclick="toggleVisibility('hint')" style="display:none;">힌트 보기</button>
    <div id="hint" style="display:none;">
        <p>힌트 = 오버플로우</p>
        <button onclick="toggleVisibility('explanation')">해설 보기</button>
        <div id="explanation" style="display:none;">
            <p>해설은 최대한 정말 정말 모르겠을때 보는걸 추천해요😭</p>
            <p>자세한 설명은 <a href="https://fair-atmosphere-303.notion.site/ssg-writeup?pvs=4">여기</a>를 클릭하세요.</p>
        </div>
    </div>

    <script>
    function toggleVisibility(id) {
        var element = document.getElementById(id);
        if (element.style.display === "none") {
            element.style.display = "block";
        } else {
            element.style.display = "none";
        }
    }

    document.addEventListener('DOMContentLoaded', function() {
        var visits = localStorage.getItem('visits') || 0;
        visits++;
        localStorage.setItem('visits', visits);
        if (visits >= 10) {
            document.getElementById('hintButton').style.display = 'block';
        }
    });
    </script>
</body>

</html>